/* COLLISION MAPPER */

* { padding: 0; margin: 0; }
html, body { height: 100%; background-color: #222222; font: normal 14pt Raleway, "Century Gothic", Verdana, Arial; color: #FFFFFF; overflow: hidden; }

input[type=text], select { padding: 5px; border: 1px solid #444444; }
.textboxes { padding:5px; background-color:#FFFFFF; border:1px solid #444444; }

#wrapper { width: 100%; height: 100%; display: flex; justify-content:flex-start; }

/* GENERAL */
.bump { position:relative; }
.bump.up1  { bottom: 1px; }
.bump.up2  { bottom: 2px; }
.bump.up3  { bottom: 3px; }
.bump.up4  { bottom: 4px; }
.bump.up5  { bottom: 5px; }
.bump.up6  { bottom: 6px; }
.bump.up7  { bottom: 7px; }
.bump.up8  { bottom: 8px; }
.bump.up9  { bottom: 9px; }
.bump.up10 { bottom:10px; }

.bump.down1  { top: 1px; }
.bump.down2  { top: 2px; }
.bump.down3  { top: 3px; }
.bump.down4  { top: 4px; }
.bump.down5  { top: 5px; }
.bump.down6  { top: 6px; }
.bump.down7  { top: 7px; }
.bump.down8  { top: 8px; }
.bump.down9  { top: 9px; }
.bump.down10 { top:10px; }

.bump.left1  { right: 1px; }
.bump.left2  { right: 2px; }
.bump.left3  { right: 3px; }
.bump.left4  { right: 4px; }
.bump.left5  { right: 5px; }
.bump.left6  { right: 6px; }
.bump.left7  { right: 7px; }
.bump.left8  { right: 8px; }
.bump.left9  { right: 9px; }
.bump.left10 { right:10px; }

.bump.right1  { left: 1px; }
.bump.right2  { left: 2px; }
.bump.right3  { left: 3px; }
.bump.right4  { left: 4px; }
.bump.right5  { left: 5px; }
.bump.right6  { left: 6px; }
.bump.right7  { left: 7px; }
.bump.right8  { left: 8px; }
.bump.right9  { left: 9px; }
.bump.right10 { left:10px; }

.border-radius.five { border-radius: 5px; }
.border-radius.ten { border-radius: 10px; }
.border-radius.fifteen { border-radius: 15px; }
.border-radius.twenty { border-radius: 20px; }

/* TOOLBOX */
#toolBox { width: 380px; height: 100%; padding: 20px 0px; background-color: #171717; }
#toolBox #header { margin-bottom: 5px; padding-left: 20px; }
#toolBox #header h1 { font-size:22pt; font-weight:normal; text-align:center; }
#toolBox h3 { font:normal 20pt Lobster, "Century Gothic", Verdana, sans-serif; margin-bottom:10px; color:#C68A0D; }
#toolBox h4 { font-size: 16pt; font-weight: normal; color: #f0e6d0; }

#toolBoxHideBar { height: 100%; padding: 0px 0px; background-color: #111111; border: 1px solid #000000; font-size: 10pt; cursor: pointer; display: flex; align-items: center; justify-content: center;  }
#toolBoxHideBar:hover { background-color: #333333; }

#toolBox .section { padding: 20px; border-bottom:1px solid #000000; }
#toolBox .section.collapsable { display: none; }
#toolBox .section label,
#toolBox .section .label { color: #efcd86; }

#toolBox .section .infoSection { display: flex; justify-content: space-between; }

#toolBox .section #viewBtnSection { display: flex; justify-content: space-between; }
#toolBox .section #viewBtnSection .viewBtn { width: 40px; height: 40px; margin: 0px 3px; border: 2px solid #000000; background-color: #FFFFFF; text-align: center; cursor: pointer; }

#toolBox .section #viewBtnSection #properties { background-image: url('./images/icons/properties-BW.png'); }
#toolBox .section #viewBtnSection #properties:hover { border-color: #EAA833; }
#toolBox .section #viewBtnSection #properties.active { background-image: url('./images/icons/properties.png'); border-color: #EAA833; }

#toolBox .section #viewBtnSection #entity { background-image: url('./images/icons/entities-BW.png'); }
#toolBox .section #viewBtnSection #entity:hover { border-color: #EAA833; }
#toolBox .section #viewBtnSection #entity.active { background-image: url('./images/icons/entities.png'); border-color: #EAA833; }

#toolBox .section #viewBtnSection #collision { background-image: url('./images/icons/collision-BW.png'); }
#toolBox .section #viewBtnSection #collision:hover { border-color: #EAA833; }
#toolBox .section #viewBtnSection #collision.active { background-image: url('./images/icons/collision.png'); border-color: #EAA833; }

#toolBox .section #viewBtnSection #background { background-image: url('./images/icons/background-BW.png'); }
#toolBox .section #viewBtnSection #background:hover { border-color: #EAA833; }
#toolBox .section #viewBtnSection #background.active { background-image: url('./images/icons/background.png'); border-color: #EAA833; }

/* ENTITIES */

#toolBox #entitySection .subSection { margin-bottom: 20px; display: flex; justify-content: space-between; }
#toolBox #entitySection .entitySize { width: 50px; }

/* PROPERTIES */

#toolBox #propertiesSection .propertiesRow { padding: 7px 0px; display: flex; justify-content: start; }
#toolBox #propertiesSection .checkboxes { width: 20px; height: 20px; margin-right: 30px; }
#toolBox #propertiesSection #lineSnapThreshold { width: 20px; margin-left: 16px; text-align: center; font-size: 10pt; }
#toolBox #propertiesSection .propertiesField { width: 265px; padding: 5px; font: normal 10pt Monospace, Consolas, sans-serif; color: #BBBBBB; }
#toolBox #propertiesSection #introText { height: 50px; margin-top: 5px; color: #BBBBBB; }

/* BACKGROUND */
#toolBox #backgroundSection #backgroundModeSection { display: flex; justify-content: space-between; margin-bottom: 20px; }
#toolBox #backgroundSection #backgroundModeSection .backgroundModeBtn { background-color: #333333; border: 1px solid #000000; padding: 7px 20px; cursor: pointer; }
#toolBox #backgroundSection #backgroundModeSection .backgroundModeBtn:hover,
#toolBox #backgroundSection #backgroundModeSection .backgroundModeBtn.active { background-color: #43d2ba; border-color: #333333; color: #222222; }

/* BACKGROUND - Size Section */
#toolBox #backgroundSection #backgroundSizeSection { display: none; }
#toolBox #backgroundSection #backgroundSizeSection .subSection { margin-bottom: 15px; display: flex; justify-content: space-between; }
#toolBox #backgroundSection #backgroundSizeSection label { width: 85px; }
#toolBox #backgroundSection #backgroundSizeSection p { width:20px; height: 18px; margin-top: 1px; padding: 5px 0px; background-color: #CCCCCC; color: #222222; text-align: center; font-size: 10pt; border-radius: 5px 0px 0px 5px; }
#toolBox #backgroundSection #backgroundSizeSection .backgroundSize { width: 50px; border-radius: 0px 5px 5px 0px; }
#toolBox #backgroundSection #backgroundSizeSection #backgroundApplyBtn { width: 100%; margin-top: 5px; padding: 6px 0; border:1px solid #000000; text-align: center; cursor: pointer; background-color: #43d2ba; color: #000000; }

/* BACKGROUND - Image Section */
#toolBox #backgroundSection #backgroundImageSection { display: none; }
#toolBox #backgroundSection #backgroundImageSection #backgroundLayers { margin-bottom: 20px; }
#toolBox #backgroundSection #backgroundImageSection #backgroundLayers .row { margin-bottom: 10px; display: flex; justify-content: space-between; }
#toolBox #backgroundSection #backgroundImageSection #backgroundLayers .row label { width: 25px; }
#toolBox #backgroundSection #backgroundImageSection #backgroundLayers .row .backgroundImg { width: 230px; }
#toolBox #backgroundSection #backgroundImageSection #backgroundLayers .row .backgroundPropertiesBtn { width: 20px; height: 20px; margin-top: 5px; background-image: url('./images/icons/properties-small-BW.png'); cursor: pointer; }
#toolBox #backgroundSection #backgroundImageSection #backgroundLayers .row .backgroundPropertiesBtn:hover { background-image: url('./images/icons/properties-small.png'); }
#toolBox #backgroundSection #backgroundImageSection .addLayer { font-size: 10pt; margin-top:5px; text-align: right; text-decoration: underline; cursor: pointer; color: #777777; }
#toolBox #backgroundSection #backgroundImageSection .addLayer:hover { color: #FF9130; }

/* BACKGROUND - Properties Dialog */
#toolBox #backgroundSection #backgroundImageSection .backgroundPropertyDiv { width: 250px; position: absolute; bottom: 320px; left: 350px; border: 1px solid #222222; background-color: #FFFFFF; font-size: 12pt; border-radius: 7px 7px 0px 0px; z-index: 2; }
#toolBox #backgroundSection #backgroundImageSection .backgroundPropertyDiv .header { display: flex; justify-content: space-between; background-color: #222222; border-radius: 4px 4px 0px 0px; }
#toolBox #backgroundSection #backgroundImageSection .backgroundPropertyDiv .header .title { width: 215px; padding: 5px 10px; color: #43d2ba; border-radius: 6px 0px 0px 0px; }
#toolBox #backgroundSection #backgroundImageSection .backgroundPropertyDiv .header .close { width: 20px; padding-top: 5px; font-size: 12pt; font-weight: bold; background-color: #555555; color: #111111; text-align: center; border-radius: 0px 6px 0px 0px; }
#toolBox #backgroundSection #backgroundImageSection .backgroundPropertyDiv .header .close:hover { color: #43d2ba; cursor: pointer; }
#toolBox #backgroundSection #backgroundImageSection .backgroundPropertyDiv .fields { padding: 10px; }
#toolBox #backgroundSection #backgroundImageSection .backgroundPropertyDiv .row { margin-bottom: 10px; display: flex; justify-content: space-between; }
#toolBox #backgroundSection #backgroundImageSection .backgroundPropertyDiv .row p { font-size: 10pt; color: #222222; padding: 4px; text-align: center; }
#toolBox #backgroundSection #backgroundImageSection .backgroundPropertyDiv .row label { width: 100px; color: #222222 !important; }
#toolBox #backgroundSection #backgroundImageSection .backgroundPropertyDiv .row input[type=text] { width: 35px; }
#toolBox #backgroundSection #backgroundImageSection .backgroundPropertyDiv .row select { width: 75px; }

/* COLLISION */

#toolBox #collisionSection input[type=text] { width: 40%; }
#toolBox #collisionSection #collisionTypes { margin-bottom: 30px; display: flex; justify-content: space-around; }
#toolBox #collisionSection #collisionTypes .collisionType { background-color: #333333; border: 1px solid #000000; width: 90px; padding: 5px 0px; text-align: center; cursor: pointer; }
#toolBox #collisionSection #collisionTypes .collisionType.active,
#toolBox #collisionSection #collisionTypes .collisionType:hover { background-color: #43d2ba; border-color: #333333; color: #222222; }
#toolBox #collisionSection .subSection { display: none; }

#toolBox #collisionSection #linesSection .linePropertiesDiv { margin: 10px; display: flex; justify-content: space-between; }
#toolBox #collisionSection #linesSection .linePropertiesDiv #lineNormal { width: 60px; text-align: center; }
#toolBox #collisionSection #linesSection .linePropertiesDiv #normalIcon { width: 28px; height: 28px; background-image: url('./images/icons/normal-topleft.png'); }
#toolBox #collisionSection #eventsSection .eventPropertiesDiv { margin: 10px; display: flex; justify-content: space-between; }

/* FINALIZATION */

#toolBox .section #btnSection { display: flex; justify-content: space-between }
#toolBox .section .actionBtn { width: 90px; padding: 6px 0; border:1px solid #000000; text-align: center; cursor: pointer; }
#toolBox .section #loadBtn { background-color:#C68A0D; color:#000000; }
#toolBox .section #loadBtn:hover { background-color:#EAA833; }
#toolBox .section #exportBtn { background-color:#11BE41; color:#000000; }
#toolBox .section #exportBtn:hover { background-color:#45ED73; }
#toolBox .section #resetBtn { background-color:#F11B2B; color:#000000; }
#toolBox .section #resetBtn:hover { background-color:#E76960; }

/* DIALOG OVERLAYS */

#dialogOverlay { width: 100%; height: 100%; background-color: #00000066; position: absolute; top: 0; left: 0; display: none; z-index: 1; }
#dialog { width: 850px; background-color: #000000; border: 2px solid #000000; border-radius: 10px; position: absolute; top: 50%; left: 50%; margin: -250px 0px 0px -425px; display: none; z-index: 2; }
#dialog #dialogHeader { width: 100%; padding: 13px 25px; background-color: #F11B2B; color: #111111; border-radius: 8px 8px 0px 0px; font-size: 16pt; font-weight: bold; box-sizing: border-box; }
#dialog #dialogErrors { width: 100%; height: 60px; padding: 10px 25px; background-color: #eaadad; color: #F11B2B; font-size: 10pt; box-sizing: border-box; display: none; overflow: auto; }
#dialog #dialogErrors .keyword{ font-weight: bold; }
#dialog #dialogContent { width: 100%; height: 400px; padding: 2px 0px; }
#dialog #copySuccessDiv { width: 100%; height: 100%; background-color: #000000BB; position: absolute; top: 0; left: 0; color: #008000; font-size: 16pt; font-weight: bold; display: flex; align-items: center; justify-content: center; }
#dialog #copySuccessDiv span { width: 115px; padding: 5px; background-image: url('./images/icons/checkmark.png'); background-repeat: no-repeat; text-align: right; }
#dialog #dialogContent #copy { background-image: url('./images/icons/copy-to-clipboard.png'); background-repeat: no-repeat; background-position: 5px; width: 135px; padding: 5px; position: absolute; bottom: 51px; left: 3px; background-color: #AAAAAA; color: #333333; border: 1px solid #999999; text-align: right; font-size: 10pt; cursor: pointer; display: none; }
#dialog #dialogContent #copy:hover { background-color: #888888; color: #000000; }
#dialog #dialogContent #dialogTextarea { width: 100%; height: 100%; padding:7px 5px; box-sizing: border-box; font: 12pt normal "Fira Code", "Century Gothic", Verdana; }
#dialog #dialogFooter { width: 100%; height:47px; background-color:#333333; border-radius:0 0 8px 8px; box-sizing: border-box; display: flex; justify-content: right; }
#dialog #dialogFooter #dialogCharCount { padding: 11px 0px; margin-right: 50px; color: #777777; }
#dialog #dialogFooter .button { width: 100px; margin-left: 2px; padding: 11px 0px; color: #111111; text-align: center; cursor: pointer; }
#dialog #dialogFooter .button.save { background-color:#F11B2B; display: none; }
#dialog #dialogFooter .button.close { background-color:#CCCCCC; border-radius:0 0 6px 0; }


/* CANVAS */

#wrapper #loadingOverlay { width: 100%; height: 100%; background-color: #00000088; display: flex; align-items: center; justify-content: center; position: absolute; top: 0; left: 0px; }
#wrapper #content { width: 100%; height: 100%; position: relative; z-index: 1; }
#wrapper #content #canvas { border: 1px solid #111111; background-color: #111111; border-bottom-right-radius: 10px; }
#content #canvas.move { cursor:move; }
#content #canvas.erase { cursor:no-drop; }