/* COLLISION MAPPER */

* { padding: 0; margin: 0; }
html, body { width: 100%; height: 100%; background-color:#111111; font: normal 14pt Raleway, "Century Gothic", Verdana, Arial; color: #FFFFFF; }

.left { float:left; }
input[type=text] { width: 95%; padding: 5px; }
select { width: 100%; padding:5px; }
.checkboxes { padding:10px; border:1px solid #444444; }
.textboxes { padding:5px; background-color:#FFFFFF; border:1px solid #444444; }

#wrapper { width: 100%; height: 100%; overflow:hidden; }
#wrapper #content { width:100%; height:100%; float:right; }
#wrapper #content #canvas { border-right: 1px solid #222222; border-bottom:1px solid #222222; }

/*** TOOLBOX ***/

#toolBox { width: 319px; height:100%; background-color:#171717; border-right: 1px solid #000000; /*box-shadow:0px 10px 5px #000000;*/ float: left; overflow:auto; }
#toolBox #header { padding:20px; padding-bottom: 0; }
#toolBox #header h1 { font-size:20pt; font-weight:normal; text-align:center; margin-bottom:20px; }
#toolBox h3 { font:normal 18pt Lobster, "Century Gothic", Verdana, sans-serif; margin-bottom:10px; color:#C68A0D; }
#toolBox .section { padding:20px; border-bottom:1px solid #000000; }
#toolBox .section .label { width:50%; color: #efcd86; }

#toolBox .section #backgroundSizeDiv { padding: 20px 0px; }
#toolBox .section #backgroundSizeDiv .backgroundSize { width: 40px; }
#toolBox .section #backgroundApplyBtn { background-color: #43d2ba; color: #000000; }
#toolBox .section #backgroundApplyBtn:hover { background-color: #0de4c4; color: #000000; }

#toolBox #collision #lineNormal { width:50%; }
#toolBox #collision #lineSound { width:128px; }
#toolBox #collision .toggleBtn { list-style:none; width:57px; padding:5px 10px; margin-left:5px; background-color:#222222; text-align:center; font-size:10pt; border:1px solid #000000; float:left; cursor:pointer; }
#toolBox #collision .toggleBtn.active { background-color:#D5971D; color:#000000; }
#toolBox #collision .toggleBtn:hover { background-color:#F6C33D; color:#000000; }
#toolBox #collision .toggleBtn.inactive { background-color:#777777; color:#555555; cursor:initial; }

#toolBox .section .actionBtn { width: 100%; padding: 6px 0; margin:0 auto; border:1px solid #000000; text-align: center; cursor: pointer; }
#toolBox .section #loadBtn { background-color:#C68A0D; color:#000000; }
#toolBox .section #loadBtn:hover { background-color:#EAA833; }
#toolBox .section #exportBtn { background-color:#11BE41; color:#000000; }
#toolBox .section #exportBtn:hover { background-color:#45ED73; }
#toolBox .section #resetBtn { background-color:#F11B2B; color:#000000; }
#toolBox .section #resetBtn:hover { background-color:#E76960; }

/*** DIALOG ***/

#dialogOverlay { width:100%; height:100%; background-color:#000000; opacity:0.6; position:absolute; top:0; left:0; display:none; }

#dialog { width:850px; height:400px; background-color:#000000; border:2px solid #000000; border-radius:10px; position:absolute; top:50%; left:50%; margin-top:-200px; margin-left:-425px; display:none; }
#dialog #dialogHeader { width:800px; padding:13px 25px; background-color:#F11B2B; color:#000000; border-radius:8px 8px 0 0; font-size:14pt; font-weight:bold; }
#dialog #dialogContent { width:850px; height:300px; padding:2px 0; }
#dialog #dialogContent #dialogTextarea { width:837px; height:288px; padding:5px; }
#dialog #dialogFooter { width:850px; height:47px; background-color:#333333; border-radius:0 0 8px 8px; }
#dialog #dialogFooter .button { width:100px; margin:2px 2px 0 2px; padding:11px 0; color:#000000; text-align:center; float:right; cursor:pointer; }
#dialog #dialogFooter .button.save { background-color:#F11B2B; }
#dialog #dialogFooter .button.close { background-color:#CCCCCC; border-radius:0 0 6px 0; }

/*** MISC ***/

#content #canvas.move { cursor:move; }
#content #canvas.erase { cursor:no-drop; }

/** CLEARFIX for floated elements */
.cf:before, .cf:after { content:""; display:table; } /* For modern browsers */
.cf:after { clear:both; } /* For modern browsers */
.cf { *zoom:1; } /* For IE 6/7 (triggers hasLayout) */